@font-face {
  font-family: "Involve";
  src: url("involve.woff2") format("woff2"), url("involve.woff") format("woff");
}
* {
  margin: 0;
  font-family: "Involve", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #112134;
  height: 49px;
}
.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 50px;
}
.header div .mail-icon {
  width: 18px;
  height: 16px;
  margin-right: 10px;
}
.header div .phone-icon {
  width: 12px;
  height: 18px;
  margin-right: 10px;
}
.header div p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}

.description-text {
  text-align: center;
  margin: 126px 0 55px 0;
}
.description-text p {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  letter-spacing: -0.96px;
  padding: 0 300px;
  color: #000000;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  padding: 0 150px;
}
.navbar .logo img {
  width: 217px;
  height: 44px;
}
.navbar .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar .menu p {
  font-size: 16px;
  font-weight: 400;
  color: #4d4d4d;
  text-transform: uppercase;
  margin: 0px 20px;
  cursor: pointer;
}
.navbar .button-order button {
  width: 213px;
  height: 45px;
  background: #ff602c;
  border: 1px solid #ff602c;
  border-radius: 50px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
}

.description {
  width: 100%;
  height: 820px;
  position: relative;
}
.description .back {
  width: 100%;
  height: 820px;
  background-color: black;
  background-image: url("../resource/background.png");
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description .back div {
  z-index: 1;
}
.description .back .breadcrumbs {
  margin-top: 98px;
}
.description .back .breadcrumbs a {
  font-family: "Cygre", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #b4b4b4;
  cursor: pointer;
}
.description .back .breadcrumbs .check {
  color: #ffffff;
}
.description .back .description {
  text-align: center;
  margin-top: 202px;
  width: 70%;
}
.description .back .description p {
  font-family: "Cygre", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #ffffff;
  line-height: 57.6px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.description .back::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.table table {
  border: none;
  margin: 0 200px;
  border-collapse: collapse;
}
.table table td,
.table table th {
  padding: 8px;
}
.table table td {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #282c35;
}
.table table .tick {
  text-align: center;
}
.table table .tick img {
  width: 15px;
  height: 10px;
}
.table table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
.table table .type-work {
  font-weight: 600;
  font-size: 32px;
  line-height: 31px;
  color: #282c35;
}
.table table .general,
.table table .detailed {
  font-weight: 600;
  font-size: 32px;
  line-height: 31px;
  color: #ff684a;
  width: 250px;
  text-align: center;
}
.table table .table-cost:nth-child(even) {
  background-color: #ffffff;
}
.table table .table-cost div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table table .table-cost div p {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #282c35;
  text-align: center;
}
.table table .table-cost div button {
  width: 143px;
  height: 45px;
  border: 1px solid #ff602c;
  border-radius: 50px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  color: #ff602c;
  background-color: #ffffff;
  cursor: pointer;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 335px;
}
.projects h2 {
  margin-top: 24px;
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.96px;
  color: #282c35;
}
.projects .list-objects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 37px;
}
.projects .list-objects .object {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}
.projects .list-objects img {
  width: 290px;
  height: 215px;
}
.projects .list-objects h6 {
  margin: 20px 0 10px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
.projects .list-objects p {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
}
.projects .list-objects button {
  width: 143px;
  height: 45px;
  border: 1px solid #ff602c;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  color: #ff602c;
  background-color: #ffffff;
  cursor: pointer;
}

.heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  color: #ff602c;
}
.heading:after {
  content: "-";
  background: #ff602c;
  width: 10px;
  height: 1px;
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin-left: 11px;
}
.heading:before {
  content: "-";
  background: #ff602c;
  width: 10px;
  height: 1px;
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin-right: 11px;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 335px;
}
.feedback h2 {
  margin-top: 24px;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.96px;
  color: #282c35;
}
.feedback .additional-info {
  margin-bottom: 31px;
  width: 608px;
  text-align: center;
}
.feedback .additional-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.32px;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
}
.form input {
  width: 605px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3019607843);
  border-style: none none dashed;
  border-radius: 20px;
  margin-bottom: 24px;
  display: block;
  background-color: #ffffff;
  padding: 12px 0 12px 20px;
  font-size: 16px;
}
.form input::-webkit-input-placeholder {
  opacity: 0.7;
}
.form button {
  height: 45px;
  background: #ff602c;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */